.form-description-1 {
  display: block;
  height: 75px;
  width: 100%;
  /* border: 1px solid #a72b2b; */
}

.form-summary-1 {
  display: block;
  height: 75px;
  width: 100%;
  /* border: 1px solid #a72b2b; */
}

#updateTech-button {
  margin-top: 10px;
  border-radius: 5px;
}

.form-container-events {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f1f1f1;
  /* border: gray solid 5px; */
  border-radius: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-top: 135px;
  margin-bottom: 800px;
}

.step-1-button {
  margin-right: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.step-2-button {
  border-radius: 5px;
  margin-bottom: 15px;
}

.btn-step-two {
  border-radius: 5px;
  margin-top: 10px;
}

.form-group {
  border-radius: 5px;
}

.form-control {
  border-radius: 5px;
}
