.form-container {
  margin-top: 275px;
  margin-bottom: 275px;
  background-color: rgb(164, 236, 236);
  border: gray solid 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-top: 175px;
  margin-bottom: 275px;
}
